{
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "string-quotes": "double",
    "custom-property-empty-line-before": "never"
  }
}
