*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  transition: background ease 0.2s, color ease 0.2s;
  * {
    transition: background ease 0.2s, color ease 0.2s;
  }
}

input,
select,
textarea {
  font-family: "Rubik", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--black);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;

  &--show {
    opacity: 0.7;
    visibility: visible;
  }
}
