.footer {
  margin: 75px 0 0;
  padding: 15px 0;
  background: var(--footer-bg);
  box-shadow: 0 15px 30px rgba(var(--shadow) / 5%);
  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &:first-child {
      justify-content: space-between;
    }
    &:not(:first-child) {
      padding: 15px 0 0;
      margin: 15px 0 0;
      border-top: 1px solid rgba(var(--shadow) / 10%);
    }
  }

  &__links,
  &__copy {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
  }

  &__copy {
    margin: 15px 0 0;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
      color: var(--text-light);
    }
  }
}
