.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--header-bg);
  padding: 0 15px;
  min-height: 60px;
  box-shadow: 0 15px 30px rgba(var(--black) / 5%);
}
